services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5001"
    env_file: ./backend/***REMOVED***
    depends_on:
      db:
          condition: service_healthy

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: thisispassworddontforget1
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      retries: 10

volumes:
  postgres-data:
