@import "tailwindcss";

/* ---------------------------------- setting html ---------------------------------- */

* {
  box-sizing: border-box;
  color: var(--dark-brown-color);
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ---------------------------------- scroll bar ---------------------------------- */

/* Minimal sleek scrollbar */
.scrollbar-sleek {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* initially invisible */
  overflow: auto;
  position: relative;
}

/* WebKit browsers */
.scrollbar-sleek::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-sleek::-webkit-scrollbar-track {
  background: transparent; /* invisible track */
}

.scrollbar-sleek::-webkit-scrollbar-thumb {
  background-color: #a78bfa; /* visible thumb */
  border-radius: 9999px; /* fully rounded */
}
.scrollbar-sleek:hover::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* darker thumb on hover */
}
/* Hide scrollbar buttons & corners completely */
.scrollbar-sleek::-webkit-scrollbar-button,
.scrollbar-sleek::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--cream-color);
  border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--brown-color);
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-brown-color);
}

/* ---------------------------------- root ---------------------------------- */

:root {
  /* color */
  --dark-brown-color: rgb(56, 34, 14);
  --brown-color: rgb(101, 66, 37);
  --light-brown-color: rgb(217, 196, 175);
  --cream-color: rgb(253, 250, 238);

  --service-complete-color: rgb(117, 158, 60);
  --service-available-color: rgb(117, 187, 240);
  --service-inprogress-color: rgb(245, 194, 54);
  --service-unavailable-color: rgb(46, 25, 22);

  --room-available-color: rgb(117, 158, 60);
  --room-reserved-color: rgb(253, 156, 88);
  --room-full-color-color: rgb(186, 30, 7);

  --success-color: rgb(117, 158, 60);
  --warning-color: rgb(245, 194, 54);
  --fail-color: rgb(186, 30, 7);

  --success-color-alpha: rgb(158, 187, 118);
  --warning-color-alpha: rgb(248, 212, 114);
  --fail-color-alpha: rgb(206, 97, 81);

  --beige-cream-color: rgb(254, 247, 219);

  --idle-color: rgb(192, 192, 192);
  --queue-color: rgb(255, 215, 0);
  --checkIn-color: rgb(100, 149, 237);
  --checkOut-color: rgb(117, 158, 60);
  --inProgress-color: rgb(100, 149, 237);
  --complete-color: rgb(117, 158, 60);
}

.status-circle {
  color: inherit;
  display: inline-flex;
  align-items: center;
}

.status-circle::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.status-circle.SUCCESS::before {
  background-color:rgb(117, 158, 60) ;
}

.status-circle.FAILED::before {
  background-color: rgb(186, 30, 7);
}

.status-circle.CANCELLED::before {
  background-color: rgb(245, 194, 54);
}
/* ---------------------------------- font ---------------------------------- */

@font-face {
  font-family: "Roboto";
  src: url(../src/assets/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../src//assets/Roboto-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
}

/* ---------------------------------- react datepicker ---------------------------------- */

.react-datepicker {
  @apply bg-[var(--light-brown-color)] border-2 border-[var(--dark-brown-color)] z-50;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  @apply rounded-none z-40 transition-all duration-200;
}

.react-datepicker__header {
  @apply bg-[var(--brown-color)] border-none py-3 z-40 transition-all duration-200;
}

.react-datepicker__current-month {
  @apply !text-[var(--cream-color)] z-50 transition-all duration-200;
}

.react-datepicker__navigation {
  @apply border-none top-0 h-[40px] z-50 transition-all duration-200;
}

.react-datepicker__navigation-icon::before {
  @apply border-[var(--cream-color)] translate-y-1/3;
}

.react-datepicker__day-name {
  @apply text-sm text-[var(--dark-brown-color)] border-t-0 my-2 z-50 transition-all duration-200;
}

.react-datepicker__day {
  @apply inline-flex items-center justify-center rounded-full z-50 transition-all duration-200;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__day--keyboard-selected {
  @apply bg-[var(--cream-color)] !text-[var(--dark-brown-color)] rounded-full z-50;
}

.react-datepicker__day {
  @apply font-normal z-50 transition-all duration-200;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper {
  @apply z-50;
}

.react-datepicker__month-container {
  @apply z-50;
}

.react-datepicker__month {
  @apply z-50;
}

.react-datepicker__week {
  @apply z-50;
}

.react-datepicker__close-icon::after {
  @apply bg-transparent !text-[var(--cream-color)]
}

.react-datepicker__close-icon {
  @apply scale-150 transition-all duration-200 hover:scale-200
}